:root {
  --spacer-unit: 3px;
  --spacer-smallest: calc(1 * var(--spacer-unit));
  --spacer-smaller: calc(2 * var(--spacer-unit));
  --spacer-small: calc(4 * var(--spacer-unit));
  --spacer-regular: calc(6 * var(--spacer-unit));
  --spacer-medium: calc(8 * var(--spacer-unit));
  --spacer-big: calc(12 * var(--spacer-unit));
  --spacer-bigger: calc(16 * var(--spacer-unit));
  --spacer-biggest: calc(24 * var(--spacer-unit));
}
